.Details {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
    
    .back {
        margin-left: 0.5rem;
    }
    .image {
        height: 60vh;
        @media screen and (max-width: 767px) {
            height: 30vh;
    
        }
    }
    .info {
        height: 60vh;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 767px) {
            text-align: center;
            height: unset;
            margin-top: 5vh;
        }
    }
    .name {
        font-weight: 700;
        font-size: 2rem;
        @media screen and (max-width: 767px) {
            font-size: 1.5rem; 
        }
    }
    .details {
        color: #757575;
        margin-top: 1rem;
        line-height: 1.5;
        font-size: 1.1rem;
        @media screen and (max-width: 767px) {
            font-size: 0.9rem; 
        }
    }
    .infoDetails {
        display: flex;
        height: 90vh;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10vh;
            height: 50%;
    
        }
    }
}